# data
data/
student_deepmet/data_*/
teacher_deepmet/data_*/

# checkpoints
*_ckpts*/
student_deepmet/ckpts_*/

# slurm
slurm_*.out
slurm_*.err
slurm-*.out
slurm-*.err

# python
__pycache__/
*.pyc

# misc
*~
*.log
.DS_Store

# editor backups
*~
*.swp
